*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.vh-100{
    height: 100vh;
}

.bg-gray{
    background: #efeeee;
}
#form-register{
    border: none;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

@media screen and (max-width: 767px){
    .card{
        width: 80vw;
    }
}
@media screen and (min-width: 767px) and (max-width: 1024px){
    .card{
        width: 50vw;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1199px){
    .card{
        width: 70vw;
    }
}
@media screen and (min-width: 1200px){
    .card{
        width: 30vw;
    }
}
@media screen and (min-width: 1300px){
    .card{
        width: 30vw;
    }
}