:root{
    --bg-color: #001021;
    --li-hover-color: #3786DB;
    --li-hover-exit: #DB3C37;
}
a {
    text-decoration: none;
}
.navbar{
    width: 20vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--bg-color);
    color: #fff;
    padding: 0;
    
}
.navbar-list{
    list-style: none;
    height: 100vh;
    width: 100%;
    padding: 0 !important;
}
.navbar-item-header{
    padding: 1rem 0;
    background: #001a33;;
    border-bottom: 3px solid #050505;
}


.navbar-list > li{
    width: 100%;
    padding: 1rem;
    display: flex;
    padding-left: 3rem;
    align-items: center;
    gap: 1rem;
}
.navbar-list > :last-child{
    margin-top: auto;

}

.navbar-item{
    cursor: pointer;
    border-top: 1px solid transparent;
    transition: all .3s ease-in;
    user-select: none;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-item > ul, ol{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.navbar-item:hover {
    color: var(--li-hover-color) !important;
}
.navbar-item:hover > a{
    color: var(--li-hover-color) !important;
}
.navbar-item:hover iconify-icon{
    cursor: pointer;
    color: var(--li-hover-color) !important;
}
.navbar-item:hover span{
    color: var(--li-hover-color) !important;
}

.navbar-item > span{
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    
}
/* child list */
.navbar-item.has-child{
    flex-direction: column;
    align-items: center;
}
.navbar-item.has-child.active{
    color: var(--li-hover-color) !important;
}
.navbar-item.has-child.active   iconify-icon{
    color: var(--li-hover-color) !important;
}
.navbar-item.has-child.active:hover >  span {
    color: var(--li-hover-color) !important;
}
.navbar-item-child{
    position: relative;
    transform: translateX(0);
}
.navbar-item-child {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.navbar-item-child li{
    display: flex;
    gap: 1rem;
    justify-content: start;
}
.navbar-item-child li a:hover{
    color: var(--li-hover-color);
}
.navbar-item-child.hidden{
    position: absolute;
    transform: translateX(-150%);
}



/* end navbar */
.li-exit:hover > a > iconify-icon{
    color: var(--li-hover-exit) !important;
}
.li-exit:hover  a{
    color: var(--li-hover-exit) !important;
}